.X52OiYfywcpF7u3crcqcA {

    padding: 10px;

    font-family: Menlo
}

.iJXrh1QPVfO1KYprwspQZ {

    font-size: 200%;

    font-weight: bold;

    color: black
}

.iJXrh1QPVfO1KYprwspQZ:hover,._1bO1SnI_oCI89WzsECLdV1 {

    color: red
}

.ndUcOSKzJtORy_Qc8PILK {

    color: #444
}
